@(userForm: Form[models.users.Manager],user: models.users.User)
@import helper._

@main("Add Manager",user) {
    <p class="lead">Add a new manager</p>
    @form(action=routes.HomeController.addManagerSubmit(), 'class-> "form-horizontal",
         'role -> "form", 'method -> "POST", 'enctype -> "multipart/form-data") {
        @CSRF.formField

        @inputText(userForm("name"), '_label -> "Name", 'class -> "form_control")
        @inputText(userForm("email"), '_label -> "E-mail", 'class -> "form_control")
        @inputText(userForm("password"), '_label -> "Password", 'class -> "form_control")

        @inputText(userForm("role").copy(value=Some("manager")), '_label -> "", 'hidden -> "hidden")
        
        <label>Image Upload</label>
        <input class="btn-sm btn-default" type="file" name="upload">

        <div class="actions">
            <input type="submit" value="Add/Update Manager" class="btn btn-primary">
            <a href="@routes.HomeController.manager">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
        }
}