@(userForm: Form[models.users.User], user: models.users.User)
@import helper._

@main("Add User",user) {
    <p class="lead">Add a new user</p>
    @form(action=routes.HomeController.addUserSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @CSRF.formField

        @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
        @select(
            userForm("department.id"),
            options(Department.options),
            '_label -> "Department", '_default -> "-- Choose a department --",
            '_showConstraints -> false, 'class -> "form-control"
        )
        @inputText(userForm("role"), '_label -> "Role", 'class -> "form-control")
        @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
        

        @inputText(userForm("id"), '_label -> "", 'hidden -> "hidden")

        <div class="actions">
            <input type="submit" value="Add/Update user" class="btn btn-primary">
            <a href="@routes.HomeController.index(0)">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}