@(userForm: Form[models.users.Artist], user: models.users.User)
@import helper._

@main("Add Artist",user){
    <p class="lead">Add a new Artist</p>

    @form(action=routes.HomeController.addArtistSubmit(), 'class -> "form-horizontal", 'role -> "form"){
        @CSRF.formField

        @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
        @inputText(userForm("role").copy(value=Some("employee")), '_label -> "", 'hidden -> "hidden")
        @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
        @inputText(userForm("password"), '_label -> "Password", 'class -> "form-control")
        
        

        

        <div class="actions">
            <input type="submit" value="Add/Update Artist" class="btn btn-primary">
            <a href="@routes.HomeController.admin_artist()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}