@(appointments: List[models.users.Appointment], user: models.users.User)
@main("Admin Appointments", user){
    <h1>List of users</h1>
    @if(flash.containsKey("success")){
		<div class="alert alert-success">
			@flash.get("success")
		</div>
    }
    <div class="col-sm-3">
		<h4>Categories</h4>
		<div class="list-group">
			<a href="@routes.HomeController.admin_appointments()" class="list-group-item">All categories</a>
			
		</div>
    </div>
    <div class="col-sm-9">
        <h2>Appointments</h2>

        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Email</th>
                <th>Date</th>
                <th>Artist</th>
            </tr>
            </thead>
            <tbody>
            @for(i<-appointments){
                <tr>
                <td>@i.getEmail</td>
                <td>@i.getDate</td>
                <td>@i.getArtist</td>
                @if((user != null) &&("admin".equals(user.getRole()))){
                    
                
                    <td>
                        <a href="@routes.AppointmentController.deleteAppointment(i.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                }
                </tr>
            }
            </tbody>
        </table>
       
        
    </div>
}