@(user: models.users.User)
@main("Andrew", user){
      <div class="bio">
          <h1>Andrew Teeters</h1>
          <img src="@routes.Assets.versioned("assets/profiler.jpg")" alt="image of artist">
          <h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Arcu non odio euismod lacinia at quis. Ut eu sem integer vitae justo eget magna. 
              At imperdiet dui accumsan sit amet nulla facilisi. Pretium lectus quam id leo in vitae turpis massa sed. 
              Integer eget aliquet nibh praesent. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. 
              Sem viverra aliquet eget sit amet tellus. Vitae proin sagittis nisl rhoncus mattis rhoncus. Mi bibendum neque egestas congue. 
              Consectetur libero id faucibus nisl tincidunt. 
              Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Velit egestas dui id ornare arcu.
          </h3>
          
        </div>
        <div class="container page-top">



          <div class="row">
  
  
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="@routes.Assets.versioned("assets/Tattoos/twin-black-crow-tattoos-on-leg-2.jpg")" class="fancybox" rel="ligthbox">
                      <img  src="@routes.Assets.versioned("assets/Tattoos/twin-black-crow-tattoos-on-leg-2.jpg")" class="zoom img-fluid "  alt="">
                     
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="@routes.Assets.versioned("assets/Tattoos/wolf_crows_tattoo_version_2_by_thetrollesque-d53gem2.jpg")"  class="fancybox" rel="ligthbox">
                      <img  src="@routes.Assets.versioned("assets/Tattoos/wolf_crows_tattoo_version_2_by_thetrollesque-d53gem2.jpg")" class="zoom img-fluid"  alt="">
                  </a>
              </div>
              
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="@routes.Assets.versioned("assets/Tattoos/raven_trash_polka.jpg")" class="fancybox" rel="ligthbox">
                      <img  src="@routes.Assets.versioned("assets/Tattoos/raven_trash_polka.jpg")" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                      <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                      <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                      <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                      <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                  <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                      <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                  </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                  <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
              </a>
          </div>
          
           <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                  <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
              </a>
          </div>
          
           <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                  <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
              <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
          </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
              <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
          </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
          <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
              <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
          </a>
      </div>
              
              
             
             
         </div>
  
       
        
  
      </div>
}