@(userForm: Form[models.users.Customer],user: models.users.User)

@import helper._

@main("Add Customer",user){
    <p class="lead">Add a new Customer</p>

    <!-- Use a views.html.helpers package method to create the form (instead of html)-->
    <!-- Note the arguments that are being passed to the scala function form (they are
         essentially instructions for constructing an HTML form element)-->
    @form(action=routes.HomeController.addCustomerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate the form submission *@
        @CSRF.formField

        <!-- Use helper methods to add fields to the form -->
        <!-- Note that the form fields are related to the fields of the itemForm object -->
        <!-- Note the arguments that are being passed to the scala function inputText (they are 
             essentially instructions for constructing an HTML input element)-->
        <!-- Note the @select function's argument options. This needs to be a map of ids-to-names
             and this is provided by the method Category.options(), which we added to the Category
             class in the previous step. -->
            @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'hidden -> "hidden")
            @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
            @inputText(userForm("password"), '_label -> "Password", 'class -> "form-control")
            @inputText(userForm("street1"), '_label -> "Street 1", 'class -> "form-control")
            @inputText(userForm("street2"), '_label -> "Street 2", 'class -> "form-control")
            @inputText(userForm("town"), '_label -> "Town", 'class -> "form-control")
            @inputText(userForm("postCode"), '_label -> "POst Code", 'class -> "form-control")
            @inputText(userForm("creditCard"), '_label -> "Credit Card Number", 'class -> "form-control")


            @inputText(userForm("email"), '_label -> "", 'hidden -> "hidden")
            
            <!-- We use the bootstrap actions class for the buttons at the bottom:
                1. The submit button for the form
                2. A button that allows the user to cancel without adding an item
            -->
            <div class="actions">
                <input type="submit" value="Add/Update Customer" class="btn btn-primary">
                <a href="@routes.HomeController.usersCustomer()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } @* end of form *@
} @* end of main *@